<h4 class="card-title tituloFormulario">Nueva categoría</h4>
<form [formGroup]="nuevaCategoriaForm" (ngSubmit)="guardarCategoria()" class="form-inline" id="nuevaCategoriaForm"> 
    <div class="form-group">
      <label class="control-label .col labelFormularioInline"  for="descripcion">Nueva categoría</label>
      <input type="text"
             placeholder="Descripcion categoria"
             name="descripcionCategoria"
             formControlName="descripcionCategoria"
             class="form-control campoFormularioInline"  
      >
    </div>
    <button type="submit"  class="btn btn-link">Guardar </button>
</form>

 