

	<header>
	  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	    <a class="navbar-brand" href="#">Ayudarte</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarCollapse">
	      <ul class="navbar-nav mr-auto">
	        <li class="nav-item ">
	          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	        </li>
	        <li class="nav-item active">
	          <a class="nav-link" href="/mision">Misión</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/login">Login</a>
	        </li>
	      </ul>
	    </div>
	  </nav>
	</header>
<main class="cuerpo">
    <section class="foto-junto-texto">
        <div >
        	<img src="assets/images/group-human-pile-tone-white.jpg" hspace="5" vspace="5"
             class="imagen-flotante"  />
            <p>
              El año 2020 lametablemente pasara a la historia por ser el año en el que el mundo entero se vio sumido en una pandemia global a causa de la COVID-19. Esta situación llevo a toda la humanidad a tener que afrontar nuevos y numerosos retos.
            </p>
            <p>
               A nivel institucional se tuvieron que afrontar muchos retos tanto sanitarios como económicos y sociales. La sociedad tambien tuvo que afrontar muchas situaciones que eran nuevas para todos, tales como restriccion de horarios, restricción de aforos en centros comerciales, perdida de empleos y un largo etc..
            </p>
            <p>
                Sin embargo, estas situaciones nos llevaron a dar valor a muchas cosas que habiamos olvidado. Se volvío a valorar a sanitarios como se merecen, a las fuerzas del orden  a todas aquellas personas que desinteresadamente ofrecian su ayuda en forma de voluntariado.
              </p>
              <p>
                Con esta perspectiva surge la idea de facilitar la colaboración intravecinal, apoyando a todos los que están en nuestro entorno y que por las circunstancias a las que nos estamos enfrentando necesitan nuestra ayuda. Partiendo de que la mejor forma de ayudar no es la caridad si no crear sinergias en las que todos podamos colaborar, ya que todas las personas independientemente de su edad o condicion pueden aportar a la sociedad proponemos esta aplicación en la que opdras intercambiar los servicios por tiempo.
                Una vez que acumules tiempo en tu "cartera de tiempo" podrás gastarlo solicitando servicios en la plataforma.
              </p>
              <p>
                La cantidad de servicios que puedes ofrecer es ilimitada, pudiendo desde hacer tareas del hogar, ayudar a niños en sus tareas del colegio, hacer la compra para vecinos mayores que no puedan ir al supermercado, enseñar a cocinar, enseñar bricolage, formatear un ordenador y todo aquello en lo que puedes ayudar y que seguro que hay personas que te lo agradecerían
              </p>
              <p>
               Por un mundo mejor participa en Ayudarte.... el arte de ayudar.
              </p>
            </div>
        </section>
</main>

