<p>habilidad works!</p>
<form [formGroup]="nuevaActividadForm" (ngSubmit)="guardarCategoria()">
    <div class="form-group">
        <label igxLabel for="listaCategorias">listaCategorias esto será un select</label>
        <input type="text"
               placeholder="listaCategorias"
               name="listaCategorias"
               formControlName="listaCategorias"            
        >
    </div>
    <div class="form-group">
      <label igxLabel for="descripcion">descripcion</label>
      <input type="text"
             placeholder="descripcion"
             name="descripcion"
             formControlName="descripcion"            
      >
    </div>
    <div class="form-group">
        <label igxLabel for="horasEstipuladas">horasEstipuladas</label>
        <input type="text"
               placeholder="horasEstipuladas"
               name="horasEstipuladas"
               formControlName="horasEstipuladas"            
        >
      </div>
    <button type="submit">Guardar</button>
  </form>
