<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <span>
            <img class="avatar border-gray" src="assets/img/faces/{{usuario.usuario_id}}.jpg"  alt="...">
            <h5 class="title">{{usuario.nombre}} {{usuario.apellido1}} </h5>
          </span>
          <p class="description">
            {{usuario.sobreMi}}
          </p>
        </div>
        <p class="description text-center">
          
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-6 ml-auto">
              <h5>{{tareas}}
                <br>
                <small><i class="nc-icon nc-calendar-60"></i></small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>{{usuario.reputacion}}<span class="estrellaDoradaPeque" >★</span>
                <br>
                <small><i class="nc-icon nc-satisfied"></i></small>
              </h5>
            </div>
            <div class="col-lg-4 mr-auto">
              <h5>{{usuario.bolsaHora}}
                <br>
                <small><i class="nc-icon nc-watch-time"></i></small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Empieza cambio contraseña -->  
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Cambiar contraseña</h4>
      </div>
      <div class="card-body">        
        <form [formGroup]="contrasennaForm" (ngSubmit)="actualizarContrasegna()" class="form-horizontal"  id="nuevaActividadForm"> 
          <div class="form-group">
            <label class="control-label .col labelFormulario" for="horasReales">Actual</label>
            <input type="password"
                    placeholder="Contraseña actual"
                    formControlName="contrasennaActual"
                    class="form-control campoFormulario"
            >
          </div>
          <div class="form-group">
            <label class="control-label .col labelFormulario" for="horasReales">Nueva</label>
            <input type="password"
                    placeholder="Nueva contraseña"
                    formControlName="contrasennaNueva"
                    class="form-control campoFormulario"
            >
          </div>           
          <div class="form-group">
            <label class="control-label .col labelFormulario" for="horasReales">Repita nueva</label>
            <input type="password"
                    placeholder="Repita contraseña"
                    formControlName="contrasennaNueva2"
                    class="form-control campoFormulario"
            >
          </div>                  
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Guardar</button>
            </div>
          </div>      
        </form> 
        
      </div>
    </div> 
<!-- Termina cambio contraseña -->   </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Editar Usuario</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="actualizarUsuarioForm" (ngSubmit)="guardarUsuario()" class="form-horizontal"  id="nuevaActividadForm"> 
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Nombre</label>
                <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre" value="{{nombre}}">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Primer Apellido</label>
                <input  formControlName="apellido1" type="text" class="form-control" placeholder="Primer apellido" value="Faker">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Segundo Apellido</label>
                <input formControlName="apellido2"  type="text" class="form-control" placeholder="Segundo apellido" value="Faker">
              </div>
            </div>
          </div>          
          <div class="row">
            <div class="col-md-3 pr-1">
              <div class="form-group">
                <label>Fecha de Nacimiento</label>
                <input type="date" class="form-control" formControlName="fechaNacimiento" >
              </div>
            </div>
            <div class="col-md-5 px-1">
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email"  formControlName="email">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
 
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Sobre mí</label>
                <textarea class="form-control textarea"  formControlName="sobreMi"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Actualizar usuario</button>
            </div>
          </div>
        </form>
      </div>
    </div>
 
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Habilidades</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="habilidadForm" (ngSubmit)="asignarHabilidad()" class="form-horizontal"  id="nuevaActividadForm"> 
          <div class="form-group">
            <label class="control-label .col labelFormulario2" for="categoria_ID2">Categoría</label>
            <select   class="form-control campoFormulario"  
            formControlName="categoria_ID2" (change)="onChangeCategoriaActividad($event.target.value)">
              <option value="-1" >Elige una categoría</option>
              <option *ngFor="let categ2 of categoriasObjet2" [value]="categ2.id">
              {{ categ2.descripcion }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label .col labelFormulario2" for="habilidad_ID2">Habilidad</label>
            <select class="form-control campoFormulario" formControlName="habilidad_ID2" >
              <option value="-1" >Elige una habilidad</option>
              <option *ngFor="let hab2 of habilidadesObjet2" [value]="hab2.habilidad_id">
              {{ hab2.descripcion }}
              </option>
            </select>
          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Guardar</button>
            </div>
          </div>      
        </form>  

        
        <div  *ngIf="habilidadesObjet?.length > 0"  class=" table-striped " style="padding: 40px;">
          <table class="table round_table">
            <thead class="thead-verde">
              <tr>
                <th scope="col">Habilidad</th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let habilidad of habilidadesObjet">
                <td> 
                  <span>{{ habilidad.descripcion }}</span>
                </td>
                <td> 
                  <span ><i class="nc-icon nc-simple-remove" (click)="desasignarHabilidad($event, habilidad.habilidad_id )"></i></span>
                </td>
               </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>    



</div>
