<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Ranking de usuarios</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4"  *ngFor="let usuario of rankingUsuarios" >
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="assets/img/faces/{{usuario.usuario_id}}.jpg" alt="card image"></p>
                                    <h4 class="card-title h4Card">{{usuario.nombre}}</h4>
                                    <h4 class="card-title h4Card">{{usuario.apellido1}} {{usuario.apellido2}}</h4>
                                    <h3 class="card-title">                                     
                                        <p class="estrellaDorada" *ngIf="usuario.reputacion==1" >★</p>
                                        <p class="estrellaDorada" *ngIf="usuario.reputacion==2" >★★</p>
                                        <p class="estrellaDorada" *ngIf="usuario.reputacion==3" >★★★</p>
                                        <p class="estrellaDorada" *ngIf="usuario.reputacion==4" >★★★★</p>
                                        <p class="estrellaDorada" *ngIf="usuario.reputacion==5" >★★★★★</p>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card ">
                                <div class="card-body text-center ">
                                    <div>                                                                        
                                       <h4 class="card-title h4Card">{{usuario.nombre}}</h4>
                                        <h4 class="card-title h4Card">{{usuario.apellido1}} {{usuario.apellido2}}</h4>                                    
                                    </div>                         
                                    <div>
                                        <span>                
                                            {{usuario.sobreMi}}     
                                        </span>                                            
                                    </div> 
                                    <div> 
                                        <p class="card-textHabilidades">Habilidades</p>
                                    </div>                         
                                    <div  *ngFor="let habilidad of usuario.habilidades">
                                        <span>                
                                            <i class="nc-icon nc-satisfied"></i>
                                            {{habilidad.descripcion}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        </div>
    </div>
</section>
<!-- Team -->