<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="searchbar">
      <form [formGroup]="buscarForm" class="form_search">
        <input  class="search_input" 
                type="text" formControlName="texto"
                placeholder="Buscar actividad">
        <a (click)="buscarPorHabilidad()" class="search_icon"><i class="nc-icon nc-zoom-split"></i></a>
      </form>
    </div>
  </div>
</div>

<div class="row separacionTitulo">
  <span class="h4Panel">Actividades disponibles</span>
</div>
<div class="row" id="team">
  <div  *ngFor="let dataRows of tableData1.dataRows"  class="col-lg-3 col-md-6 col-sm-6">  
    <!-- tarjeta -->
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
      <div class="mainflip">
        <div class="frontside">
          <div class="card">
            <div class="card-body">
                <div class="contenidoCentrado">
                    <h5 class="card-titleAzul" >{{dataRows[1]}}</h5>
                </div>
                <div class="contenidoCentrado">
                    <p class="hora-tarjeta">{{dataRows[2]}}</p>
                </div>
                <div class="card-footer fondoFooter">
                  <div class="contenidoCentrado">
                      <button type="button" (click)="asignar(dataRows[0])" class="btn btn-link">SELECCIONAR</button>
                  </div>        
                </div>
            </div>
          </div>
        </div>
        <div class="backside">
          <div class="card">
            <div class="card-body">
              <div class="contenidoCentrado">
                <h5 class="card-titleAzul" >{{dataRows[1]}}</h5>
              </div>
              <div class="contenidoCentrado">
                <p class="hora-tarjeta">{{dataRows[3]}}</p>
              </div>
              <div class="card-footer fondoFooter ">
                <div class="contenidoCentrado">
                  <button type="button" (click)="asignar(dataRows[0])" class="btn btn-link">SELECCIONAR</button>
                </div>        
              </div>
            </div>                      
          </div>
        </div>
      </div>
    </div>
      <!-- ./TARJETA -->
  </div>
</div>

<!-- 
<div class="row">
  <div class="col-md-12">
    
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Actividades disponibles</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th *ngFor="let header of tableData1.headerRow">
                <span>{{header}}</span>
              </th>
             </thead>
            <tbody>
              <tr *ngFor="let dataRows of tableData1.dataRows">
 
                <td>
                  <span>{{dataRows[1]}}</span>
                </td>
                <td>
                  <span>{{dataRows[2]}}</span>
                </td>
                <td>
                  <span>{{dataRows[3]}}</span>
                </td>
                <td>
                  <span>{{dataRows[4]}}</span>
                </td>
                <td>
                  <div class="contenidoCentrado">
                    <button type="button" (click)="asignar(dataRows[0])" class="btn btn-info"><i class="nc-icon nc-paper"></i></button>
                  </div>                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

-->