 <!--
//segun hallamos elegido anteriormente "Terminar" o "Aceptar" 
  	// dependiendo de eso le habre mostrado un formulario u otro pero todos vendran al metodo
  	// actualizarActividad que asignará las propiedades y llamará al api rest de actualizar la tarea completa. Habrá que hacerlo con lo de ngModel o algo así
  	// la opción    "Consultar" no  se contempla ya que no será un formulario si no datos solo lectura
-->
<main role="main">

    <h2 class="tituloFormulario">{{operacion}} tarea</h2>
    <!-- Formulario Terminar -->
    <div *ngIf="operacion=='Terminar'">
      <form  class="form-horizontal fondoFormulario" [formGroup]="terminarForm" (ngSubmit)="actualizarActividad()">
        <div class="form-group">
          <label class="control-label col-sm-2 labelFormulario" for="descripcionTarea">Tarea:</label>
          <input type="text"
                 placeholder="Tarea"
                 name="descripcionTarea"
                 formControlName="descripcionTarea"
                  readonly  
                  class="form-control campoFormulario"
          >
        </div>
        <div class="form-group">
        <label class="control-label col-sm-2 labelFormulario" for="usuario_solicita">Usuario solicitante:</label>
          <input type="text"
                  placeholder="Usuario que solicita"
                  formControlName="usuario_solicita"
                  readonly
                  class="form-control campoFormulario"
          >
        </div>
        <div class="form-group">

        <label class="control-label col-sm-2 labelFormulario" for="usuario_solicita">Usuario que realiza:</label>
          <input type="text"
                  placeholder="Usuario que realiza"
                  formControlName="usuario_realiza"
                  readonly 
                  class="form-control campoFormulario" 
          >
        </div>
        <div class="form-group">

        <label class="control-label col-sm-2 labelFormulario" for="observacion">Observación:</label>
          <input type="textarea"
                  placeholder="observacion"
                  formControlName="observacion"
                  readonly
                  class="form-control campoFormulario" 
          >
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2 labelFormulario"  for="horasReales">Horas reales:</label>
          <input type="number"
                  placeholder="Horas Reales"
                  formControlName="horasReales"
                  class="form-control campoFormulario" 

          >
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2 labelFormulario" for="puntuacionSolicita">Puntúa al usuario:</label>
          <p class="clasificacion">
            <input class="radioEstrella" id="radio1" type="radio" formControlName="puntuacionSolicita" value="5"  >
            <label class="estrella" for="radio1">★</label>
            <input class="radioEstrella" id="radio2" type="radio" formControlName="puntuacionSolicita" value="4" >
            <label class="estrella" for="radio2">★</label>
            <input class="radioEstrella" id="radio3" type="radio" formControlName="puntuacionSolicita" value="3" >
            <label class="estrella" for="radio3">★</label>
            <input class="radioEstrella" id="radio4" type="radio"  formControlName="puntuacionSolicita" value="2"  >
            <label class="estrella" for="radio4">★</label>
            <input class="radioEstrella" id="radio5" type="radio" formControlName="puntuacionSolicita" value="1"  >
            <label class="estrella"  for="radio5">★</label>
          </p>
      </div> 
      <div>
        <button type="submit"  class="btn btn-link">Guardar </button>
        <button type="submit" (click)="volver()" class="btn btn-link">Volver </button>
      </div>
      </form>
    </div>
    <!-- Fin del formulario Terminar  -->

    <!-- Formulario Consultar -->
    <div *ngIf="operacion=='Consultar'">
      <form [formGroup]="consultarForm"  class="form-horizontal fondoFormulario" (ngSubmit)="actualizarActividad()">
        <div class="form-group">
          <label class="control-label col-sm-2 labelFormulario" for="descripcionTarea">Tarea</label>
          <input type="text"
                 placeholder="Tarea"
                 name="descripcionTarea"
                 formControlName="descripcionTarea"
                  readonly 
                  class="form-control campoFormulario"
          >
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2 labelFormulario" for="usuario_solicita">Usuario solicitante</label>
          <input type="text"
                  placeholder="Usuario que solicita"
                  formControlName="usuario_solicita"
                  readonly 
                  class="form-control campoFormulario"
          >
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2 labelFormulario" for="usuario_solicita">Usuario que realiza</label>
            <input type="text"
                    placeholder="Usuario que realiza"
                    formControlName="usuario_realiza"
                    readonly
                    class="form-control campoFormulario"  
            >
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 labelFormulario" for="observacion">observacion</label>
            <input type="text"
                    placeholder="observacion"
                    formControlName="observacion"
                    readonly
                    class="form-control campoFormulario" 
            >
          </div>
          <div class="form-group">
            <label  class="control-label col-sm-2 labelFormulario" for="puntuacionSolicita">Puntuación solicita</label>
            <input  type="text"
                    placeholder="puntuacionSolicita"
                    formControlName="puntuacionSolicita"
                    readonly
                    class="form-control campoFormulario"      
            >
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2 labelFormulario" for="valoracion">Puntuación realiza</label>
            <input type="text"
                    placeholder="valoracion"
                    formControlName="valoracion"
                    readonly
                    class="form-control campoFormulario"
            >
          </div>
        <div> 
         <button type="submit" class="btn btn-link">Volver</button>
        </div>
      </form>
    </div>
    <!-- Fin del formulario Consultar  -->

    <!-- Formulario Aceptar -->
    <div *ngIf="operacion=='Aceptar'">
      <form [formGroup]="aceptarForm" class="form-horizontal fondoFormulario" (ngSubmit)="actualizarActividad()">
        <div class="form-group">
          <label class="control-label col-sm-2 labelFormulario" for="descripcionTarea">Tarea</label>
          <input type="text"
                 placeholder="Tarea"
                 name="descripcionTarea"
                 formControlName="descripcionTarea"
                  readonly
                  class="form-control campoFormulario"
          >
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2 labelFormulario" for="usuario_solicita">Usuario solicitante</label>
          <input type="text"
                  placeholder="Usuario que solicita"
                  formControlName="usuario_solicita"
                  readonly
                  class="form-control campoFormulario"
          >
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2 labelFormulario" for="usuario_solicita">Usuario que realiza</label>
          <input type="text"
                  placeholder="Usuario que realiza"
                  formControlName="usuario_realiza"
                  readonly
                  class="form-control campoFormulario" 
          >
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2 labelFormulario" for="observacion">observacion</label>
          <input type="text"
                  placeholder="observacion"
                  formControlName="observacion"
                  readonly
                  class="form-control campoFormulario"
          >
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2 labelFormulario" for="horasReales">Horas reales</label>
          <input type="number"
                  placeholder="Horas Reales"
                  formControlName="horasReales"
                  readonly
                  class="form-control campoFormulario"
          >
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2 labelFormulario" for="valoracion">Puntua al usuario que realiza</label>
          <p class="clasificacion">
            <input class="radioEstrella" id="radio1" type="radio" formControlName="valoracion" value="5"  >
            <label class="estrella" for="radio1">★</label>

            <input class="radioEstrella" id="radio2" type="radio" formControlName="valoracion" value="4" >
            <label class="estrella" for="radio2">★</label>

            <input class="radioEstrella" id="radio3" type="radio" formControlName="valoracion" value="3" >
            <label class="estrella" for="radio3">★</label>

            <input class="radioEstrella" id="radio4" type="radio"  formControlName="valoracion" value="2"  >
            <label class="estrella" for="radio4">★</label>

            <input class="radioEstrella" id="radio5" type="radio" formControlName="valoracion" value="1"  >
            <label class="estrella"  for="radio5">★</label>
          </p>
      </div>
      <div>
        <button type="submit" class="btn btn-link">Guardar</button>
        <button type="submit" (click)="volver()"  class="btn btn-link">Volver</button>
      </div>
      </form>
    </div>
    
    <!-- Fin del formulario Aceptar  -->

    <!-- Formulario nuevo mensaje  -->

    <div class="container h-100" *ngIf="operacion=='Aceptar' || operacion=='Terminar'" >
      <div class="d-flex justify-content-center h-100">
          <form [formGroup]="mensajeForm" class="form_search">
            <input   
                    type="textarea" formControlName="texto"
                    placeholder="Escriba su mensaje">
            <a (click)="enviarMensaje()" class="search_icon"><i class="nc-icon nc-send"></i></a>
          </form>
      </div>
    </div>

 

    <!-- Fin del formulario  nuevo mensaje  -->


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Mensajes de la tarea</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th *ngFor="let header of tableData1.headerRow">
                    <div class="contenidoCentrado">
                      <span>{{header}}</span>
                    </div>
                  </th>
                 </thead>
                <tbody>
                  <tr *ngFor="let dataRows of tableData1.dataRows">
                    <td>
                      <div class="contenidoCentrado">
                        <span>{{dataRows[2]}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="contenidoCentrado">
                        <span>{{dataRows[3]}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="contenidoCentrado">
                        <span>{{dataRows[4]}}</span>
                      </div>
                    </td>
                    <td>
                      <div class="contenidoCentrado">
                        <i class="nc-icon nc-check-2"></i>                      
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>