 <!--
//segun hallamos elegido anteriormente "Terminar" o "Aceptar" 
  	// dependiendo de eso le habre mostrado un formulario u otro pero todos vendran al metodo
  	// actualizarActividad que asignará las propiedades y llamará al api rest de actualizar la tarea completa. Habrá que hacerlo con lo de ngModel o algo así
  	// la opción    "Consultar" no  se contempla ya que no será un formulario si no datos solo lectura
-->
<main role="main">

    <h2>{{operacion}} tarea</h2>


    <div class="form-group" *ngIf="operacion=='Terminar'">
      <form [formGroup]="terminarForm" (ngSubmit)="actualizarActividad()">
        <label igxLabel for="descripcionTarea">Tarea</label>
        <div class="descripcion-tarea">
          <input type="text"
                 placeholder="Tarea"
                 name="descripcionTarea"
                 formControlName="descripcionTarea"
                  readonly="true" 
          >
        </div>
        <label igxLabel for="usuario_solicita">Usuario solicitante</label>
        <div class="usuario-solicita">
          <input type="text"
                  placeholder="Usuario que solicita"
                  formControlName="usuario_solicita"
                  readonly="true" 
          >
        </div>
        <label igxLabel for="usuario_solicita">Usuario que realiza</label>
        <div class="usuario-realiza">
          <input type="text"
                  placeholder="Usuario que realiza"
                  formControlName="usuario_realiza"
                  readonly="true" 
          >
        </div>
        <label igxLabel for="horasReales">Usuario que realiza OJO SEPARADO CON . no con ,</label>
        <div class="horas-reales">
          <input type="number"
                  placeholder="Horas Reales"
                  formControlName="horasReales"
          >
        </div>
        <label igxLabel for="puntuacionSolicita">Puntua al usuario que solicita</label>
        <p class="clasificacion">
          <input class="radioEstrella" id="radio1" type="radio" formControlName="puntuacionSolicita" value="5"  >
          <label class="estrella" for="radio1">★</label>

          <input class="radioEstrella" id="radio2" type="radio" formControlName="puntuacionSolicita" value="4" >
          <label class="estrella" for="radio2">★</label>

          <input class="radioEstrella" id="radio3" type="radio" formControlName="puntuacionSolicita" value="3" >
          <label class="estrella" for="radio3">★</label>

          <input class="radioEstrella" id="radio4" type="radio"  formControlName="puntuacionSolicita" value="2"  >
          <label class="estrella" for="radio4">★</label>

          <input class="radioEstrella" id="radio5" type="radio" formControlName="puntuacionSolicita" value="1"  >
          <label class="estrella"  for="radio5">★</label>
        </p>
        <button type="submit">Guardar</button>
      </form>
    </div>


</main>