
  <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/home">Ayudarte</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mision">Misión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role="main">
<!--     <div id="myCarousel" class="carousel slide" data-ride="carousel">

   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class=""></li>
      <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
 
    <div class="carousel-inner">
        
 
        <div class="carousel-item">
            <img class="img-responsive"
            src="assets/images/carrusel/man-changing-light-bulb2.jpg">
            <div class="container">
              <div class="carousel-caption color-verde">
                <h1>Con muy poco puedes ayudar</h1>
                <p class="texto-carrusel">Hay labores que para tí son tan sencillas como cambiar una bombillas y que a otros les parecen imposibles. ¿No creés que esa misma situación se te da a tí también?</p>
              </div>
            </div>
        </div>
   
        <div class="carousel-item active carousel-item-left">
          <img class="img-responsive" src="assets/images/carrusel/man-cutting-grass-with-lawn-mover-back-yard2.jpg">
          <div class="container">
            <div class="carousel-caption color-amarillo">
              <h1>Tu césped siempre está a punto y el de tu vecino no</h1>
              <p class="texto-carrusel">Quizás no sea tan despreocupado como piensas y no cuida su césped porque no puede permitirse la máquinaria necesaria o no sabe usarla. ¿No podría ayudarte él a cambio de que tú cortaras su césped?</p>
            </div>
          </div>
        </div>
 
        <div class="carousel-item carousel-item-next carousel-item-left">
          <img class="img-responsive" src="assets/images/carrusel/father.jpg">
          <div class="container">
            <div class="carousel-caption color-rojo">
              <h1>Ayuda a los más pequeños en sus primeros retos.</h1>
              <p class="texto-carrusel">Ayuda a esos peques que viven en tu barrio en sus tareas ya que no todos los padres pueden hacerlo por diferentes motivos</p>
            </div>
          </div>
        </div>
 
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  
    </div>
  </div>
-->

<!-- empieza carrusel prueba -->


<div id="myCarousel" class="carousel slide " data-ride="carousel">
    <!-- Indicators 
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
-->
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/carrusel/man-cutting-grass-with-lawn-mover-back-yard2.jpg" alt="">
            <div class="carousel-caption color-amarillo">
                <h1>Tu césped siempre está a punto y el de tu vecino no</h1>
                <p class="texto-carrusel">Quizás no sea tan despreocupado como piensas y no cuida su césped porque no puede permitirse la máquinaria necesaria o no sabe usarla. ¿No podría ayudarte él a cambio de que tú cortaras su césped?</p>
            </div>
        </div>
  
        <div class="carousel-item">
            <img src="assets/images/carrusel/man-changing-light-bulb2.jpg" alt="">
            <div class="carousel-caption">
                <h3>Second Slide</h3>
                <p>This is the second image slide</p>
            </div>
        </div>
        
        <div class="carousel-item">
            <img src="assets/images/carrusel/father.jpg" alt="">
            <div class="carousel-caption">
                <h3>Third Slide</h3>
                <p>This is the third image slide</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- termina carrusel prueba -->



  <div class="container marketing">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading margen-imagen">Enseña a quien más lo necesita. <span class="text-muted">Comparte lo que mejor sabes hacer.</span></h2>
        <p class="lead margen-imagen">Despúes de tantos años cocinando los mejores guisos ha llegado el momento de que uses toda tu experiencia para enseñar a cocinar a joves recien independizados.</p>
      </div>
      <div class="col-md-5">
		    <img class="img-responsive" src="assets/images/500/ensennar-cocinar.jpg">
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading margen-imagen">Aprovecha el camino. <span class="text-muted">No todos pueden hacerlo.</span></h2>
        <p class="lead margen-imagen">No todo el mundo puede hacer actividades tan del día a día como ir a hacer la compra, si ya estás en el super... ¿Por qué no aprovechar para ayudar a recoger la compra de un vecino mayor que no pueda ir él solo?</p>
      </div>
      <div class="col-md-5 order-md-1">
		    <img class="img-responsive" src="assets/images/500/hacer-compra.jpg">
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading margen-imagen">Tu compañia. <span class="text-muted">El mejor regalo.</span></h2>
        <p class="lead margen-imagen">Comparte tu tiempo con quien lo necesita, haz compañía, lee con ellos, rie y haz reir y verás que quizás no seas solo tú el que estás dando, si no que también estás recibiendo.</p>
      </div>
      <div class="col-md-5">
        <img class="img-responsive" src="assets/images/500/visita-mayores.jpg">
      </div>
    </div>
    <hr class="featurette-divider">
  </div>
  <footer class="container">
    <p class="float-right"><a href="#">Ir al principio</a></p>
    <p>© 2020 Ayudarte. · <a href="#">Privacidad</a> · <a href="#">Terminos</a></p>
  </footer>
</main>

