.margen-imagen{
    margin-left: 40px;
}
.color-amarillo{
	color: #ffdf00;
}

.color-rojo{
	color: #e00800;
}

.color-verde{
	color: #627f02;
}

.h1, h1 {
    font-size: 4rem;
}

.texto-carrusel{
  font-size: 30px;
}