.cuerpo{
	margin: 100px 25px 25px 25px;
}

.carrusel{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.div-centrado{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.texto-justificado{
  text-align: justify;
  text-justify: inter-palabra;
}

.borde70{
  width: 70%;
}

.imagen-flotante{
  float: left;
}

.imagen-carrusel{
  width: 80%;
}

@media only screen and  (min-width: 100px) and (max-width: 600px){
  .imagen-flotante{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  .imagen-carrusel{
    width: 100%;
  }
}
