<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"> </p>
              <p class="card-title">{{tSolicitadas}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="nc-icon nc-calendar-60"></i> Tareas Solicitadas
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-trophy text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"> </p>
              <p class="card-title">{{tRealizadas}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="nc-icon nc-calendar-60"></i> Tareas Realizadas
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
               <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"> </p>
              <p class="card-title"> {{horas}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="nc-icon nc-watch-time"></i> Bolsa de horas
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-favourite-28 text-primary"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category"> </p>
              <p class="card-title">{{valoracion}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="nc-icon nc-satisfied"></i> Valoracion
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
<span>FALTA UN ICONO PARA CREAR UNA TAREA Y ESTUDIAR COMO DAR DE ALTA LA HABILIDAD SI NO LA ENCUENTRO </span>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Realizando</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th *ngFor="let header of tableData1.headerRow">
                <div class="contenidoCentrado">
                  <span>{{header}}</span>
                </div>
              </th>
             </thead>
            <tbody>
              <tr *ngFor="let dataRows of tableData1.dataRows">

                <td>
                  <div class="contenidoCentrado">
                    <span>{{dataRows[1]}}</span>
                  </div>
                </td>
                <td>
                  <div class="contenidoCentrado">
                    <span>{{dataRows[2]}}</span>
                  </div>
                </td>
                <td>
                  <div class="contenidoCentrado">
                    <span>{{dataRows[3]}}</span>
                  </div>
                </td>
                <td>
                  <div class="contenidoCentrado">
                    <span>{{dataRows[4]}}</span>
                  </div>
                </td>
                <td>
                  <div class="contenidoCentrado">
                    <button type="button" (click)="prepararEditar(dataRows[0], 'Terminar')" class="btn btn-info"><i class="nc-icon nc-paper"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Solicitadas</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th *ngFor="let header of tableData2.headerRow">
                <div class="contenidoCentrado">
                  <span>{{header}}</span>
                </div>
              </th>
             </thead>
            <tbody>
              <tr *ngFor="let dataRows of tableData2.dataRows">
      
                <td>
                  <div class="contenidoCentrado">
                    <span>{{dataRows[1]}}</span>
                  </div>
                </td>
                <td>
                  <div class="contenidoCentrado">
                    <span>{{dataRows[2]}}</span>
                  </div>
                </td>
                <td>
                  <div class="contenidoCentrado">
                    <span>{{dataRows[3]}}</span>
                  </div>
                </td>
                <td>
                  <div class="contenidoCentrado">
                    <span>{{dataRows[4]}}</span>
                  </div>
                </td>
                <td>
                  <div class="contenidoCentrado">
                    <button type="button" (click)="prepararEditar(dataRows[0],'Aceptar')" class="btn btn-info"><i class="nc-icon nc-book-bookmark"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Terminadas</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th *ngFor="let header of tableData3.headerRow">
                <div class="contenidoCentrado">
                  <span>{{header}}</span>
                </div>
              </th>
             </thead>
            <tbody>
              <tr *ngFor="let dataRows of tableData3.dataRows">
 
                <td>
                  <div class="contenidoCentrado">
                    <span>{{dataRows[1]}}</span>
                  </div>
                </td>
                <td>
                  <div class="contenidoCentrado">
                    <span>{{dataRows[2]}}</span>
                  </div>
                </td>
                <td>
                  <div class="contenidoCentrado">
                    <span>{{dataRows[3]}}</span>
                  </div>
                </td>
                <td>
                  <div class="contenidoCentrado">
                    <span>{{dataRows[4]}}</span>
                  </div>
                </td>
                <td>
                  <div class="contenidoCentrado">
                    <button type="button" (click)="prepararEditar(dataRows[0], 'Consultar')" class="btn btn-info"><i class="nc-icon nc-zoom-split"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Users Behavior</h5>
        <p class="card-category">24 Hours performance</p>
      </div>
      <div class="card-body ">
        <canvas id=chartHours width="400" height="100"></canvas>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-history"></i> Updated 3 minutes ago
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Email Statistics</h5>
        <p class="card-category">Last Campaign Performance</p>
      </div>
      <div class="card-body ">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
          <i class="fa fa-circle text-primary"></i> Opened
          <i class="fa fa-circle text-warning"></i> Read
          <i class="fa fa-circle text-danger"></i> Deleted
          <i class="fa fa-circle text-gray"></i> Unopened
        </div>
        <hr>
        <div class="stats">
          <i class="fa fa-calendar"></i> Number of emails sent
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">NASDAQ: AAPL</h5>
        <p class="card-category">Line Chart with Points</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Tesla Model S
          <i class="fa fa-circle text-warning"></i> BMW 5 Series
        </div>
        <hr/>
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
</div>
