 
<app-categoria></app-categoria>
 
<app-habilidad></app-habilidad>


<form [formGroup]="nuevaActividadForm" (ngSubmit)="guardarActividad()">
    <div class="form-group">
      <label igxLabel for="categoria_ID">categoria</label>
      <select formControlName="categoria_ID" (change)="onChangeCategoriaActividad($event.target.value)">
        <option value="">Elige una categoría</option>
        <option *ngFor="let categ of categoriasObjet" [value]="categ.id">
        {{ categ.descripcion }}
        </option>
      </select>


    </div>
    <div class="form-group">
      <span>puede que no se reciba la habilidad y el combo habria que cargarlo con el change en Actividad</span>
      <label igxLabel for="habilidad">listaHabilidades</label>  
      <select class="custom-select" formControlName="habilidad">
            <option value="" disabled>Elige una habilidad</option>
            <option *ngFor="let hab of habilidadesObjet" [ngValue]="hab.id">{{hab.descripcion}}</option>
      </select>
    </div>
    <div class="form-group">
    <label igxLabel for="descripcion">descripcion</label>
      <input type="text"
              placeholder="descripcion"
              formControlName="descripcion"
      >
    </div>
    <div class="form-group">
      <label igxLabel for="horasEstipuladas">horasEstipuladas</label>
        <input type="text"
                placeholder="horasEstipuladas"
                formControlName="horasEstipuladas"
        >
      </div>
    <button type="submit">Guardar</button>
    <button type="submit" (click)="volver()" >Volver</button>
</form>
