 
<app-categoria></app-categoria>
 
<app-habilidad></app-habilidad>
 

<form [formGroup]="nuevaActividadForm" (ngSubmit)="guardarActividad()">
    <div class="form-group">
      <label igxLabel for="categoria_ID2">categoria</label>
      <select formControlName="categoria_ID2" (change)="onChangeCategoriaActividad($event.target.value)">
        <option value="-1" >Elige una categoría</option>
        <option *ngFor="let categ2 of categoriasObjet2" [value]="categ2.id">
        {{ categ2.descripcion }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label igxLabel for="habilidad_ID2">habilidad</label>
      <select formControlName="habilidad_ID2" (change)="onChangeCategoriaHabilidad($event.target.value)">
        <option value="-1" >Elige una habilidad</option>
        <option *ngFor="let hab2 of habilidadesObjet2" [value]="hab2.habilidad_id">
        {{ hab2.descripcion }}
        </option>
      </select>
    </div>

  
    <div class="form-group">
    <label igxLabel for="descripcion">descripcion</label>
      <input type="text"
              placeholder="descripcion"
              formControlName="descripcion"
      >
    </div>
    <!--
    <div class="form-group">
      <label igxLabel for="horasEstipuladas">horasEstipuladas</label>
        <input type="text"
                placeholder="horasEstipuladas"
                formControlName="horasEstipuladas"
        >
      </div>

    --> 
    <button type="submit">Guardar</button>
    <button type="submit" (click)="volver()" >Volver</button>
</form>
